.editFormWrapper {
  margin: 21px auto;
  border: 2px solid lightgrey;
  box-shadow: 3px 3px 7px grey;
  width: 560px;
  border-radius: 14px;
  padding: 14px;
  height: 800px;
}

.editInputWrapper{
  display: flex;
  flex-direction: column;
  margin: 10.5px;
  border-radius: 12px;
}

#editFormTitle {
  font-size: 18.2px;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid lightgrey;
  padding-bottom: 14px;
}

.editFormPage {
  padding: 14px;
}

#editSpotButton {
  display: flex;
  justify-content: center;
}

#actualEditButton {
  width: 511px;
  border-radius: 20px;
  background-color: #FF5A5F;
  color: white;
  padding: 10.5px;
  font-size: 18.2px;
  margin-top: 28px;
}


.editInput {
  border-radius: 20px;
  font-size: 12.6px;
  margin: 7px;
  padding: 7px;
}
