.singleSpotGrid {
  display: grid;
  grid-template-rows: 49px 35px 420px 0.5fr 1fr;
  grid-template-columns: 20% 45% 35%;
  grid-template-areas:
  '. name .'
  '. topInfo buttons'
  '. image .'
  '. description sidebox'
  '. reviews .'
}

.singleSpotName {
  display: grid;
  grid-area: name;
  margin-top: 14px;
  font-size: 12.6px;
  padding-bottom: 10.5px;
}

.singleSpotTopInfo {
  display: grid;
  grid-area: topInfo;
  font-size: 20px;
}

.singleSpotImage {
  display: grid;
  grid-area: image;
  object-fit: cover;
}

#actualImg {
  height: 420px;
  border-radius: 13px;
}

.singleSpotSidebar {
  grid-area: sidebox;
  display: flex;
  flex-direction: column;
  border: solid 3px lightgrey;
  border-radius: 14px;
  padding: 14px;
  margin-right: auto;
  justify-content: space-around;
  height: 91px;
  font-size: 14px;
}

.singleSpotDesc {
  display: grid;
  grid-area: description;
}

.singleSpotReviews {
  display: flex;
  flex-direction: column;
  grid-area: reviews;
}

.ownerDetails {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid lightgrey;
  justify-content: space-between;
  margin-bottom: 7px;
  height: 49px;
  margin-top: 10.5px;
  padding-bottom: 14px;
}

#actualOwner {
  font-size: 21px;
  font-weight: bold;
}

.spotPerks {
  border-bottom: 1px solid lightgrey;
  height: 154px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding-bottom: 20px;
}

.aircoverBox {
  height: 105px;
  margin-top: 14px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  border-bottom: 1px solid lightgrey;
}

#aircoverLogo {
  height: 21px;
  width: 126px;
}

.spotDescriptionBox {
  height: 56px;
  margin-top: 14px;
  /* padding-top: 20px; */
  border-bottom: 1px solid lightgrey;
}

#spotStar {
  margin-right: 2px;
}

.reviewTop {
  font-size: 16.8px;
  font-weight: bold;
  padding-top: 14px;
  padding-bottom: 28px;
}

.singleUserButtons {
  grid-area:buttons;
  display: flex;
  flex-direction: column;
  width: 217px;
}

.singleUserEditDelete {
  display: flex;
  justify-content: center;
  background-color: lightcoral;
  color: white;
  text-decoration: none;
  font-size: 14px;
  border: none;
  border-radius: 12px;
  padding: 7px;
  margin-bottom: 14px;
}
