.singleSpotGrid {
  display: grid;
  grid-template-rows: 70px 50px 600px 0.5fr 1fr;
  grid-template-columns: 20% 45% 35%;
  grid-template-areas:
  '. name .'
  '. topInfo .'
  '. image .'
  '. description sidebox'
  '. reviews .'
}

.singleSpotName {
  display: grid;
  grid-area: name;
  margin-top: 20px;
  font-size: 18px;
  padding-bottom: 15px;
}

.singleSpotTopInfo {
  display: grid;
  grid-area: topInfo;
  font-size: 20px;
}

.singleSpotImage {
  display: grid;
  grid-area: image;
  object-fit: cover;
}

#actualImg {
  height: 600px;
  border-radius: 13px;
}

.singleSpotSidebar {
  grid-area: sidebox;
  display: flex;
  flex-direction: column;
  border: solid 3px lightgrey;
  border-radius: 14px;
  padding: 20px;
  margin-right: auto;
  justify-content: space-around;
  height: 130px;
  font-size: 20px;
}

.singleSpotDesc {
  display: grid;
  grid-area: description;
}

.singleSpotReviews {
  display: flex;
  flex-direction: column;
  grid-area: reviews;
}

.ownerDetails {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid lightgrey;
  justify-content: space-between;
  margin-bottom: 10px;
  height: 70px;
  margin-top: 15px;
  padding-bottom: 20px;
}

#actualOwner {
  font-size: 30px;
  font-weight: bold;
}

.spotPerks {
  border-bottom: 1px solid lightgrey;
  height: 220px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding-bottom: 20px;
}

.aircoverBox {
  height: 150px;
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  border-bottom: 1px solid lightgrey;
}

#aircoverLogo {
  height: 30px;
  width: 180px;
}

.spotDescriptionBox {
  height: 80px;
  margin-top: 20px;
  /* padding-top: 20px; */
  border-bottom: 1px solid lightgrey;
}

#spotStar {
  margin-right: 3px;
}

.reviewTop {
  font-size: 24px;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 40px;
}
