.createFormWrapper {
  margin: 21px auto;
  border: 2px solid lightgrey;
  box-shadow: 3px 3px 7px grey;
  width: 560px;
  border-radius: 14px;
  padding: 14px;
  height: 800px;
}

.createInputWrapper{
  display: flex;
  flex-direction: column;
  margin: 10.5px;
  border-radius: 12px;
}

#createFormTitle {
  font-size: 18.2px;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid lightgrey;
  padding-bottom: 14px;
}

.createFormPage {
  padding: 14px;
}

#createSpotButton {
  display: flex;
  justify-content: center;
}

#actualCreateButton {
  width: 511px;
  border-radius: 20px;
  background-color: lightcoral;
  color: white;
  padding: 10.5px;
  font-size: 18.2px;
  margin-top: 28px;
}

.createInput {
  border-radius: 20px;
  font-size: 13px;
  margin: 7px;
  padding: 7px;
}

#validErrsTitle {
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: red;
}

#validErrsCaption {
  display: flex;
  justify-content: center;
  font-size: 12px;
}

.createValidErrs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 8px;
}
