#reviewTop {
  padding-bottom: 10px;
}

.createReviewBox {
  display: flex;
  flex-direction: column;
}

#reviewTextarea {
  border-radius: 15px;
  resize: none;
  width: 400px;
  height: 100px;
  border: 2px solid lightgrey;
}

.reviewTextBox {
  padding-top: 20px;
  padding-bottom: 20px;
}

.reviewsButton {
  padding-top: 20px;
}

#submitButton {
  background-color: #FF5A5F;
  color: white;
  border-radius: 14px;
  border: none;
  font-size: 20px;
  padding: 10px;
}

#reviewStarsTop {
  font-size: 20px;
}

.reviewStars {
  border: 1px solid lightgrey;
  margin-top: 10px;
  width: 100px;
  border-radius: 900px;
  display: flex;
  justify-content: space-evenly;
}

#reviewFormTitle {
  margin-top: 20px;
  color: red;
}
