#skyBnb {
  width: 105px;
  margin: 1px 14px 14px 105px;
}

.navHeader {
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px lightgrey;
  position: sticky;
  height: 112px;
}

.navModal {
  display: flex;
  justify-content: space-between;
  margin: 21px 105px 14px;
  align-items: center;
}

.hostLink {
  font-size: 17px;
}

#actualHostLink {
  text-decoration: none;
  color: #FF5A5F;
}

.navBarSearchWrapper {
  display: flex;
  align-items: center;
  border: 1px solid lightgray;
  padding: 6px;
  border-radius: 10px;
  margin-left: 5px;
  width: 30rem;
  height: 1.5rem;
  margin-top: 2.5rem;
}

#navBarSearch {
  padding-top: 0.2rem;
}

input:focus{
  outline: none;
}

#search-bar {
  border: none;
}
