#skyBnb {
  width: 150px;
  margin: 1px 20px 20px 150px;
}

.navHeader {
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px lightgrey;
  position: sticky;
  height: 160px;
}

.navModal {
  display: flex;
  justify-content: space-between;
  margin: 30px 150px 20px;
  width: 300px;
  align-items: center;
}

.hostLink {
  font-size: 24px;
}

#actualHostLink {
  text-decoration: none;
  color: lightcoral;
}
