#skyBnb {
  width: 150px;
  margin: 1px 20px 20px 150px;
}

.navHeader {
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px lightgrey;
  position: sticky;
  height: 160px;
}

.navModal {
  display: flex;
  margin: 40px 150px 20px;

}
