.userButton {
  width: 56px;
  height: 35px;
  border-radius: 20px;
  background-color: white;
  border: 3px solid lightgrey;
}

.profile-dropdown {
  position:absolute;
  display: flex;
  flex-direction: column;
  border: 1px solid lightgrey;
  align-items: flex-start;
  padding-left: 14px;
  padding-right: 14px;
  height: 77px;
  justify-content: space-evenly;
  border-radius: 25px;
  background-color: lightgrey;
  color: white;
}

.profileButtons {
  background: lightcoral;
  color: white;
  border-radius: 25px;
  padding: 3.5px;
}

#profile-button-name {
  text-decoration: none;
  color: white;
}
