.loginFormModal {
  position: fixed;
  background-color: white;
  top: 140px;
  left: 40%;
  width: 280px;
  height: 420px;
  padding: 28px;
  border: 1px solid rgb(160, 155, 155);
  border-radius: 20px;
}

.loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

#loginTitle {
  font-size: 21px;
  padding-bottom: 7px;
  border-bottom: 2px solid lightgrey;
  font-weight: 550;
}

#usernameField {
  margin-top: 42px;
  padding: 10.5px;
  border-radius: 10px;
  width: 245px;
  border: 4px solid lightgrey;
  font-size: 14px;
}

#passwordField {
  margin-top: 14px;
  padding: 10.5px;
  border-radius: 10px;
  width: 245px;
  border: 4px solid lightgrey;
  font-size: 14px;
}

#loginButton {
  background-color: #FF5A5F;
  border: none;
  border-radius: 20px;
  margin-top: 21px;
  color: white;
  width: 245px;
  padding: 10.5px;
  font-size: 14px;
}

.validErrs {
  margin-top: 14px;
  color: red;
  font-size: 12.6px;
}
